<section id="Educacion">
    <div class="card mt-5 d-flex w-75  mx-auto" id="#Educacion">
      
      <div class="card-body">
        <h3 class="card-title">Educacion</h3>
        <div class="add-edu">
          <i class="bi bi-plus-circle d-flex justify-content-end"  (click)="openDialogNew()" *ngIf="isLogged"></i>
  
        </div>
        <div class="container d-flex align-items-center" *ngFor="let educacion of educaciones"> 
              
              <img [src]="educacion.imgEducacion" [alt]="educacion.nombreEducacion" width="200" height="100" class="img-fluid float-left" srcset="">
             <ul>
                  <li>Titulo: {{educacion.nombreEducacion}}</li>   
                  <li>Institucion: {{educacion.establecimiento}}</li>
                  <li>Periodo: {{educacion.startEducacion}} - {{educacion.endEducacion}}</li>  
                  <li>Descripcion: {{educacion.descripcionEducacion}}</li>  
             </ul>
             <div class="d-flex mx-auto">
              <i class="bi bi-pencil-square" *ngIf="isLogged" (click)="openDialogEdit(educacion.id)"></i>
              <i class="bi bi-trash-fill" *ngIf="isLogged" (click)="delete(educacion.id)"></i>
            </div>
        </div>
         
      
      </div>
    </div>
  </section>
    