<!--Hard & Soft skills-->
<section id="Hard&SoftSkills">
    <div class="card mt-5 d-flex w-75  mx-auto" >
     
      <div class="card-body">
        <h5 class="card-title">Hard Skills</h5>
         <div class="container d-flex mt-5"> 
              
          <ngx-charts-bar-horizontal
          [view]="view"
          scheme="nightLights"
          [results]="single"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          legendTitle="Lenguajes"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)">
        </ngx-charts-bar-horizontal>
         
         </div>
         
  
      </div>
    </div>
  </section>
      <!--Hard & Soft skills-->