
<div class="container w-75 mx-auto d-flex align-items-center">
    <div class="position-relative ">
        <img src="/assets/coding.gif"   width="1160" height="300" alt="" class="mx-auto">
        <div class="typing position-absolute top-100 start-50 p-10 ">
            <h2 class=" border border-2">Bruno Fabricio Bacchi</h2>
        </div>
        <div class="position-absolute top-100 start-0 translate-middle-y ">
            
            <img src="/assets/foto_perfil.jpg" width="250" height="250" alt="" class="rounded-circle border border-5">
            
        </div>
    </div>
    
 </div>
 <br>
 <br>
 <br>
 <br>
 
