
<div class="container w-75  d-flex align-items-center">
   
        <div class="position-relative ">
            <img src="/assets/coding.gif"   width="1158.4"  alt="" class="img-fluid">
                
            <div class="position-absolute top-90  translate-middle-y " id="foto">
            
                <img src="/assets/foto_perfil.jpg" width="250" height="250" alt="" class="img-fluid rounded-circle border border-5">
            
            </div>
            


            <div class="d-flex justify-content-md-end"  >
                <div class="d-flex flex-column">
                    <h2 id="name">{{persona.nombrePersona}} </h2>
                    <h2>{{persona.puestoPersona}} </h2>
                </div>
            </div>
        </div>
    </div>
 
 <br>
 <br>
 <br>
 <br>
 
