<!--Experiencia-->
<section id="Experiencia">
    <div class="card mt-5 d-flex w-75  mx-auto" id="#Experiencia">
     
      <div class="card-body">
        <h5 class="card-title">Experiencia</h5>
         <div class="container d-flex mt-5"> 
              
              <img src="/assets/pngegg.png" width="200" height="100"class="img-fluid float-left" alt="" srcset="">
             <ul>
                  <li>Empresa: Procter & Gamble</li>   
                  <li>Periodo: 2005-2007</li>
                  <li>Puesto: Desarrollador de capacitaciones P&G University</li>  
             </ul>
         </div>
         <div class="container d-flex align-items-center"> 
              
          <img src="/assets/servcom.png" width="200" height="100" class="img-fluid float-left " alt="" srcset="">
         <ul>
              <li>Empresa: Servcom</li>   
              <li>Periodo: 2007-2011</li>
              <li>Puesto: Coordinador de equipo de instlaciòn de redes wifi y sistemas afines</li>  
         </ul>
         </div>
         <div class="container d-flex align-items-center"> 
              
          <img src="/assets/tenaris.png" width="200" height="100"class="img-fluid float-left" alt="" srcset="">
         <ul>
              <li>Empresa: Tenaris</li>   
              <li>Periodo: 2012-2023</li>
              <li>Puesto: Operacion, mantenimiento y programacion de equipos CNC</li>  
         </ul>
         </div>
      
      </div>
    </div>
  </section>
    <!--Experiencia-->