 <section id="Experiencia">
  <div class="card mt-5 d-flex w-75  mx-auto" id="#Experiencia">
    
    <div class="card-body">
      <h3 class="card-title">Experiencia</h3>
      <div class="add-exp">
        <i class="bi bi-plus-circle d-flex justify-content-end"  (click)="openDialogNew()" *ngIf="isLogged"></i>

      </div>
      <div class="container d-flex align-items-center" *ngFor="let experiencia of experiencias"> 
            
            <img [src]="experiencia.imgExp" [alt]="experiencia.nombreExperiencia" width="200" height="100" class="img-fluid float-left" srcset="">
           <ul>
                <li>Empresa: {{experiencia.compania}}</li>   
                <li>Periodo: {{experiencia.startExp}} - {{experiencia.endExp}}</li>
                <li>Puesto: {{experiencia.nombreExperiencia}}</li>  
                <li>Descripcion: {{experiencia.descripcionExperiencia}}</li>  
           </ul>
           <div class="d-flex mx-auto">
            <i class="bi bi-pencil-square" *ngIf="isLogged" (click)="openDialogEdit(experiencia.id)"></i>
            <i class="bi bi-trash-fill" *ngIf="isLogged" (click)="delete(experiencia.id)"></i>
          </div>
      </div>
       
    
    </div>
  </div>
</section>
  