 <!--Acerca de mi-->
 <section id="AboutMe">
  <div class="card mt-5 d-flex w-75  mx-auto" >
    
    <div class="card-body">
      <h5 class="card-title">Acerca de mi</h5>
       
       Mi nombre es Bruno Fabricio Bacchi, soy de Villa Mecedes, San Luis, Argentina. Tengo 39 años y estoy cursando Argentina Programa #YoProgramo. 


      
    </div>
    
  </div>
</section>
  <!--Acerca de mi-->

  <!--Experiencia-->
  <section id="Experiencia">
  <div class="card mt-5 d-flex w-75  mx-auto" id="#Experiencia">
   
    <div class="card-body">
      <h5 class="card-title">Experiencia</h5>
       <div class="container d-flex mt-5"> 
            
            <img src="/assets/pngegg.png" width="200" height="100"class="img-fluid float-left" alt="" srcset="">
           <ul>
                <li>Empresa: Procter & Gamble</li>   
                <li>Periodo: 2005-2007</li>
                <li>Puesto: Desarrollador de capacitaciones P&G University</li>  
           </ul>
       </div>
       <div class="container d-flex align-items-center"> 
            
        <img src="/assets/servcom.png" width="200" height="100" class="img-fluid float-left " alt="" srcset="">
       <ul>
            <li>Empresa: Servcom</li>   
            <li>Periodo: 2007-2011</li>
            <li>Puesto: Coordinador de equipo de instlaciòn de redes wifi y sistemas afines</li>  
       </ul>
       </div>
       <div class="container d-flex align-items-center"> 
            
        <img src="/assets/tenaris.png" width="200" height="100"class="img-fluid float-left" alt="" srcset="">
       <ul>
            <li>Empresa: Tenaris</li>   
            <li>Periodo: 2012-2023</li>
            <li>Puesto: Operacion, mantenimiento y programacion de equipos CNC</li>  
       </ul>
       </div>
    
    </div>
  </div>
</section>
  <!--Experiencia-->
  <!--Educacion-->
  <section id="Educacion">
  <div class="card mt-5 d-flex w-75  mx-auto" >
    
    <div class="card-body">
      <h5 class="card-title">Educaciòn</h5>
       <div class="container d-flex align-items-center mt-5"> 
            
            <img src="/assets/escudo15.jpg" width="200" height="100"class="img-fluid float-left" alt="" srcset="">
           <ul>
                <li>Institucion: Escuela Nº 15 Ing. Agustin Mercau</li>   
                <li>Titulo: Tecnico en equipos e instalaciones electromecanicas</li>
                <li><a href="http://catalogo.inet.edu.ar/institucion/colegio-n-15-ingeniero-agustin-mercau-3873">Escuela tecnica Nº 15 Ing. Agustin Mercau</a></li>  
           </ul>
       </div>
       <div class="container d-flex align-items-center mt-5"> 
            
        <img src="/assets/UNSL.png" width="200" height="100" class="img-fluid float-left " alt="" srcset="">
       <ul>
            <li>Institucion: Universidad Nacional de San Luis</li>   
            <li>Ingenieria Electricista-Electronica</li>
            <li><a href="http://www.fcejs.unsl.edu.ar/">Universidad Nacional de San Luis, Facultad de ingeniaria</a></li>  
       </ul>
       </div>

       <div class="container d-flex align-items-center mt-5"> 
            
        <img src="/assets/argprograma.jpg" width="200" height="100"class="img-fluid float-left" alt="" srcset="">
       <ul>
            <li>Institucion: Ministerio de Economia, INTI</li>   
            <li>Periodo: 2022</li>
            <li><button type="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Certificado de aprobacion #seprogramar 
              </button>
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">#SeProgramar</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="/assets/seprogramar.jpg" width="2000" height="1500"class="img-fluid float-left" alt="" srcset="">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      
                    </div>
                  </div>
                </div>
              </div>
            </li>  
       </ul>
       </div>
    
       <div class="container d-flex align-items-center mt-5"> 
            
        <img src="/assets/argprograma.jpg" width="200" height="100"class="img-fluid float-left" alt="" srcset="">
       <ul>
            <li>Institucion: Ministerio de Economia, INTI</li>   
            <li>Periodo: 2023</li>
            <li><button type="" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                Certificado de aprobacion #YoProgramo 
              </button>
              <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">#YoProgramo</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="/assets/seprogramar.jpg" width="2000" height="1500"class="img-fluid float-left" alt="" srcset="">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      
                    </div>
                  </div>
                </div>
              </div>
            </li>  
       </ul>
       </div> 


      
    </div>
    
  </div>
</section>
  <!--Educacion-->
  <!--Hard & Soft skills-->
  <section id="Hard&SoftSkills">
  <div class="card mt-5 d-flex w-75  mx-auto" >
   
    <div class="card-body">
      <h5 class="card-title">Hard Skills</h5>
       <div class="container d-flex mt-5"> 
            
        <ngx-charts-bar-horizontal
        [view]="view"
        scheme="nightLights"
        [results]="single"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        legendTitle="Lenguajes"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)">
      </ngx-charts-bar-horizontal>
       
       </div>
       <h5 class="card-title">Soft Skills</h5>
       <div class="container d-flex mt-5"> 
            
        <ngx-charts-bar-horizontal
        [view]="view"
        scheme="neons"
        [results]="single2"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        legendTitle="Habilidades"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)">
      </ngx-charts-bar-horizontal>
       
       </div>

    </div>
  </div>
</section>
    <!--Hard & Soft skills-->
    <!--Proyectos-->
    
    <div class="card mt-5 d-flex w-75  mx-auto" >
   
      <div class="card-body">
        <h5 class="card-title">Proyectos</h5>
         <div class="container d-flex mt-5"> 
              
              <img src="/assets/pngegg.png" width="200" height="100"class="img-fluid float-left" alt="" srcset="">
             <ul>
                  <li>Proyecto: Portfolio Web</li>   
                  <li>Periodo: 2005-2007</li>
                  <li>Puesto: Desarrollador de capacitaciones P&G University</li>  
             </ul>
         </div>
         <div class="container d-flex align-items-center"> 
              
          <img src="/assets/servcom.png" width="200" height="100" class="img-fluid float-left " alt="" srcset="">
         <ul>
              <li>Proyecto: Radio Online</li>   
              <li>Periodo: 2007-2011</li>
              <li>Puesto: Coordinador de equipo de instlaciòn de redes wifi y sistemas afines</li>  
         </ul>
         </div>
         <div class="container d-flex align-items-center"> 
              
          <img src="/assets/tenaris.png" width="200" height="100"class="img-fluid float-left" alt="" srcset="">
         <ul>
              <li>Proyecto: CRM de whassapp</li>   
              <li>Periodo: 2012-2023</li>
              <li>Puesto: Operacion, mantenimiento y programacion de equipos CNC</li>  
         </ul>
         </div>
      
      </div>
    </div>
  
    <!--Proyectos-->